@use "../redFilter/redFilter.scss";
@use "../buttonWithIcon/buttonWithIcon.scss";

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  background: 
  // url("/src/images/smoke_2.png") no-repeat bottom right 47px /
  //     calc(832 / 1440 * 100vw),
  //   // Большой дым под изображением
  //   url("/src/images/smoke_3.png") no-repeat top 110px right 6.2px / 436.8px,
  //   // маленький дым под изображением
  //   url(/src/images/smoke_1.png) no-repeat -327px -339px / 607px,
  //   // дым с краю
    url("/src/images/page_bg_wood.png") repeat-y bottom / cover;

  &__filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(548 / 800) * 100%;
  }

  &__nav {
    padding: 50px 200px;
    position: relative;
    z-index: 1;
  }

  &__nav-list {
    display: grid;
    grid-template-columns: 1fr repeat(3, max-content);
    column-gap: 40px;
    align-items: center;
  }

  &__nav-link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;

    &:hover {
      -webkit-text-stroke: 0.5px;
    }
  }

  &__nav-button {
    position: relative;
    display: flex;
    color: white;
    font-size: 40px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    &:hover {
      color: #d1191c;

      .header__nav-button-icon {
        color: white;
      }
    }

    .icon-telegram {
      font-size: 17.84px;
    }

    .icon-vk {
      font-size: 14.96px;
    }
  }

  &__nav-button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d1191c;
    text-shadow: none;
  }

  &__banner {
    position: relative;
    padding-top: 90.29px;
    padding-left: 200px;
    padding-bottom: 133px;
    z-index: 1;
  }

  &__title {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    row-gap: 10.16px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    text-transform: uppercase;
    color: white;

    &_size_small {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      column-gap: 21px;
      font-size: 48px;
      line-height: 59px;
    }
  }

  &__text {
    padding-top: 40.84px;
    padding-bottom: 120px;
    width: 400px;
    font-family: "Caveat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
  }

  &__image-wrapper {
    position: absolute;
    right: -41.91px;
    bottom: -150.47px;
    width: 936.91px;
    height: 1032.47px;
    background: url(/src/images/header_image_bg.png) no-repeat bottom / 100%;
  }

  &__image {
    position: absolute;
    right: -49.09px;
    bottom: 202.47px;
    width: 950px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
  }
}
