.header {
  position: relative;
  padding: 55px calc(200 / 1440 * 100%);
  min-height: 800px;
  background: url("../../images/pagebgwood.png") no-repeat bottom / cover;

  &__navList {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__navList {
    display: grid;
    grid-template-columns: 1fr repeat(3, max-content);
    column-gap: 40px;
    align-items: center;
  }

  &__navLink {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;

    &:hover {
      -webkit-text-stroke: 0.5px;
    }
  }

  &__navButton {
    position: relative;
    font-size: 39.71px;
    color: white;
  }

  &__navIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14.96px;
    color: #d1191c;
  }

  &__navImage {
    position: absolute;
    right: -91px;
    bottom: 52px;
    width: calc(950 / 1440) * 100%;
  }
}
