@use "normalize.css";
@use "/src/fonts/plov-icon/style.css";
@use "/src/fonts/Montserrat/montserrat.css";

html {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.root {
  min-height: 100vh;
  background: url("/src/images/page_bg.png") repeat-y top / cover, #171717;
}
