mixin report({title, text})
  .report
    span.icon-button_bg
      span.report__icon 5+
    h4.report__title= title
    p.report__text= text

section.reports
  h2.reports__title Отзывы
  .reports__container
    .swiper
      ul.swiper-wrapper
        li.swiper-slide
          +report({title: 'Екатерина', text: 'Мы всей семьей очень любим плов, но возиться с ним никто не хочет. Решили заказать, долго искали где лучше взять. Решили здесь. Остались очень довольны, плов как домашний, да и цена отличная. Теперь заказываем только тут.'})
        li.swiper-slide
          +report({title: 'Станислав', text: 'Был удивлен быстротой доставки, привезли в течение часа. Заметно что плов только-только приготовили. Семья оценила, дети остались довольны. Спасибо'})
        li.swiper-slide
          +report({title: 'Борис', text: 'Ребятам респект! Вкусный плов, вежливый персонал. Однозначное буду заказывать еще.'})
        li.swiper-slide
          +report({title: 'Олег', text: 'Впервые заказали плов у ребят и остались в полном восторге! Вкусно, сытно и ароматно. Спасибо!'})
        li.swiper-slide
          +report({title: 'Рамзан', text: 'Уже не первый раз беру плов в данном месте. Доверяю качеству, чувствуется, что готовили из свежих продуктов. Желаю не снижать планку и далее кормить нас вкусным пловом.'})
        li.swiper-slide
          +report({title: 'Светлана', text: 'Никогда не любила плов, но здесь коллеги решили заказать его на обед, чтобы не быть «белой вороной», пришлось присоединиться к ним. И знаете, мне очень понравилось. Крупные кусочки мяса, рассыпчатый рис… Могу сказать одно, спасибо за мою нынешнюю любовь к плову)))'})
    .swiper-button-next
    .swiper-button-prev
  .swiper-pagination
  //- span.icon-spoon_right
