mixin redFilter
  .red-filter(class=attributes.class)
    .red-filter__layer
    .red-filter__layer
    .red-filter__layer
    .red-filter__layer
    .red-filter__layer
    .red-filter__layer
    .red-filter__layer
    .red-filter__layer
    .red-filter__layer
    .red-filter__layer.red-filter__layer_color_dark-red
