.feature {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content;
  column-gap: 20px;
  align-items: start;

  @media screen and (max-width: 1280px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    justify-items: center;
  }

  .icon-button_bg {
    position: relative;
    font-size: 99.26px;
    color: #d1191c;
    text-shadow: 12.8986px 12.8986px 12.8986px rgba(0, 0, 0, 0.5);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: none;
  }

  &__content {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 1fr;
    row-gap: 10px;

    @media screen and (max-width: 1280px) {
      justify-items: center;
    }
  }

  &__title {
    font-family: "Caveat";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: white;
  }

  &__text {
    max-width: 400px;
    font-family: "Muller";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;

    @media screen and (max-width: 1280px) {
      text-align: center;
    }
  }
}

.features {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
  row-gap: 70px;
  padding: 48px calc(200 / 1440 * 100%) 140px;

  @media screen and (max-width: 1024px) {
    padding: 48px 50px 140px;
  }

  @media screen and (max-width: 768px) {
    padding: 48px 18px 57px;
  }

  &__title {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    row-gap: 10px;
    justify-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    text-transform: uppercase;
    color: white;

    @media screen and (max-width: 768px) {
      font-size: 36px;
      line-height: 44px;
    }

    &_color_red {
      font-size: 32px;
      line-height: 39px;
      color: #d1191c;

      @media screen and (max-width: 768px) {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content;
    gap: 8px 33px;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, max-content);
      gap: 40px 0;
    }
  }

  &__item {
    .icon-hopot {
      font-size: 55px;
    }

    .icon-termometr {
      font-size: 56px;
    }

    .icon-broom {
      font-size: 61px;
    }

    .icon-check_mark {
      font-size: 52px;
    }
  }
}
