include ../feature/feature

section.features 
  h2.features__title Лучшие блюда
    span.features__title.features__title_color_red восточной кухни для вас
  ul.features__list
    li.features__item
      +feature({ icon: 'hopot', title: 'Готовим под заказ', text: 'Минимальный заказ составляет 3500 рублей. это позволяет соблюсти рецептуру блюд и получить наивысшее качество продуктов при закупке.'})
    li.features__item
      +feature({ icon: 'termometr', title: 'Свежие продукты', text: 'Для своего плова мы используем только свежее мясо и овощи, качественный рис. Мы делаем постоянные закупки на рынке и сотрудничаем с проверенными поставщиками.'})
    li.features__item
      +feature({ icon: 'broom', title: 'Порядок во всем', text: 'Мы благочестиво относимся к соблюдению всех санитарно-технических норм. На ежедневной основе проводим уборку на кухне, чтобы готовить для вас только качественные блюда. А наш персонал полностью обеспечен всем необходимом инвентарём, одеждой и головными уборами.'})
    li.features__item
      +feature({ icon: 'check_mark', title: 'Гарантия качества', text: 'Мы предлагаем вам блюда ресторанного качества за оптимальную стоимость. Наша ценовая политика находится на уровне рынка, чтобы мы могли радовать вкусным пловом каждый день.'})
