@font-face {
  font-family: "Muller";
  src: local("Muller UltraLight"), local("MullerUltraLight"),
    url("/src/fonts/Muller/fonts/MullerUltraLight.eot")
      format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerUltraLight.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerUltraLight.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerUltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Bold Italic"), local("MullerBoldItalic"),
    url("/src/fonts/Muller/fonts/MullerBoldItalic.eot")
      format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerBoldItalic.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerBoldItalic.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Medium"), local("MullerMedium"),
    url("/src/fonts/Muller/fonts/MullerMedium.eot") format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerMedium.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerMedium.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller ExtraBold Italic"), local("MullerExtraBoldItalic"),
    url("/src/fonts/Muller/fonts/MullerExtraBoldItalic.eot")
      format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerExtraBoldItalic.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerExtraBoldItalic.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: local("Muller UltraLight Italic"), local("MullerUltraLightItalic"),
    url("/src/fonts/Muller/fonts/MullerUltraLightItalic.eot")
      format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerUltraLightItalic.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerUltraLightItalic.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerUltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Regular"), local("MullerRegular"),
    url("/src/fonts/Muller/fonts/MullerRegular.eot") format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerRegular.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerRegular.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Black Italic"), local("MullerBlackItalic"),
    url("/src/fonts/Muller/fonts/MullerBlackItalic.eot")
      format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerBlackItalic.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerBlackItalic.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerBlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Heavy Italic"), local("MullerHeavyItalic"),
    url("/src/fonts/Muller/fonts/MullerHeavyItalic.eot")
      format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerHeavyItalic.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerHeavyItalic.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerHeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Thin Italic"), local("MullerThinItalic"),
    url("/src/fonts/Muller/fonts/MullerThinItalic.eot")
      format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerThinItalic.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerThinItalic.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Heavy"), local("MullerHeavy"),
    url("/src/fonts/Muller/fonts/MullerHeavy.eot") format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerHeavy.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerHeavy.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerHeavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Thin"), local("MullerThin"),
    url("/src/fonts/Muller/fonts/MullerThin.eot") format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerThin.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerThin.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Light Italic"), local("MullerLightItalic"),
    url("/src/fonts/Muller/fonts/MullerLightItalic.eot")
      format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerLightItalic.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerLightItalic.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Light"), local("MullerLight"),
    url("/src/fonts/Muller/fonts/MullerLight.eot") format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerLight.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerLight.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Black"), local("MullerBlack"),
    url("/src/fonts/Muller/fonts/MullerBlack.eot") format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerBlack.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerBlack.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Bold"), local("MullerBold"),
    url("/src/fonts/Muller/fonts/MullerBold.eot") format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerBold.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerBold.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller ExtraBold"), local("MullerExtraBold"),
    url("/src/fonts/Muller/fonts/MullerExtraBold.eot")
      format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerExtraBold.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerExtraBold.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Muller Regular";
  src: local("Muller Regular Italic"), local("MullerRegularItalic"),
    url("/src/fonts/Muller/fonts/MullerRegularItalic.eot")
      format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerRegularItalic.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerRegularItalic.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerRegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Muller";
  src: local("Muller Medium Italic"), local("MullerMediumItalic"),
    url("/src/fonts/Muller/fonts/MullerMediumItalic.eot")
      format("embedded-opentype"),
    url("/src/fonts/Muller/fonts/MullerMediumItalic.woff2") format("woff2"),
    url("/src/fonts/Muller/fonts/MullerMediumItalic.woff") format("woff"),
    url("/src/fonts/Muller/fonts/MullerMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
