.banner-feature {
  position: relative;
  margin: 217px 205px 248px 195px;

  @media screen and (max-width: 1024px) {
    margin: 113px 50px 110px;
  }

  @media screen and (max-width: 768px) {
    margin: 113px 50px 110px;
  }

  @media screen and (max-width: 460px) {
    margin: 113px 20px 110px;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #85191c;
    mix-blend-mode: overlay;

    &_color_dark-red {
      background: #49191c;
      mix-blend-mode: screen;
    }

    &_smoke {
      background: url("/src/images/smoke.png") no-repeat center / cover;
      mix-blend-mode: normal;
    }

    &_effect_blur {
      background: rgba(142, 22, 31, 0.4);
      mix-blend-mode: normal;
      backdrop-filter: blur(15px);
    }

    &_type_image {
      mix-blend-mode: normal;
    }

    &_image_1 {
      top: -67.88px;
      left: calc(69.07 / 1040 * 100%);
      width: 221.46px;
      height: 191.99px;
      transform: rotate(-95.29deg);
      background: url("/src/images/bg_kinza.png") center / contain;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    &_image_2 {
      top: 121.03px;
      left: calc(299.52 / 1040 * 100%);
      width: 221.46px;
      height: 191.99px;
      transform: rotate(146.7deg);
      background: url("/src/images/bg_kinza.png") center / contain;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    &_image_3 {
      top: -77.57px;
      left: auto;
      right: calc(252.65 / 1040 * 100%);
      width: 221.46px;
      height: 191.99px;
      transform: rotate(-103.79deg);
      background: url("/src/images/bg_kinza.png") center / contain;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      @media screen and (max-width: 1024px) {
        top: auto;
        left: auto;
        right: -27.07px;
        bottom: -48.36px;
        width: 209.22px;
        height: 181.38px;
        transform: rotate(-188.19deg) scale(-1, 1);
      }
    }

    &_image_4 {
      top: -103.73px;
      left: calc(378 / 1040 * 100%);
      width: 243px;
      height: 189px;
      background: url("/src/images/bg_salt.png") center / contain;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    &_image_5 {
      top: auto;
      left: calc(-87 / 1040 * 100%);
      bottom: -63px;
      width: 254px;
      height: 196px;
      opacity: 0.5;
      background: url("/src/images/bg_salt.png") center / contain;
    }

    &_image_6 {
      top: auto;
      left: auto;
      right: calc(33 / 1040 * 100%);
      bottom: -141px;
      width: 254px;
      height: 196px;
      opacity: 0.5;
      background: url("/src/images/bg_salt.png") center / contain;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    &_image_7 {
      top: -160.72px;
      left: auto;
      right: calc(-43.51 / 1040 * 100%);
      width: 466px;
      height: 582px;
      transform: rotate(120deg);
      background: url("/src/images/bg_carrot.png") center / contain;

      @media screen and (max-width: 1024px) {
        top: -17.35px;
        left: auto;
        right: -40.63px;
        bottom: auto;
        z-index: 1;
        width: 258.95px;
        height: 157.04px;
        transform: rotate(-128.61deg);
        background-position: top center;
        background-size: 100%;
      }
    }

    &_image_8 {
      top: -63.18px;
      left: calc(-94.97 / 1040 * 100%);
      width: 366.44px;
      height: 457.65px;
      transform: rotate(-73.6deg);
      background: url("/src/images/bg_carrot.png") center / contain;

      @media screen and (max-width: 1024px) {
        top: auto;
        left: 51.65px;
        right: auto;
        bottom: 3.64px;
        z-index: 1;
        width: 185.76px;
        height: 112.66px;
        transform: rotate(64.78deg);
        background-position: top center;
        background-size: 100%;
      }
    }

    &_image_9 {
      top: -118.27px;
      left: auto;
      right: calc(133.76 / 1040 * 100%);
      width: 258px;
      height: 230px;
      transform: rotate(148.19deg);
      background: url("/src/images/bg_pepper.png") center / contain;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    &_image_10 {
      top: -183.26px;
      left: calc(121.37 / 1040 * 100%);
      width: 258px;
      height: 230px;
      transform: rotate(15deg);
      background: url("/src/images/bg_pepper.png") center / contain;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      @media screen and (max-width: 1024px) {
        top: 6px;
        left: 21px;
        right: auto;
        bottom: auto;
        z-index: 1;
        width: 182px;
        height: 162px;
        transform: rotate(0);
      }
    }

    &_image_11 {
      top: auto;
      left: calc(299 / 1040 * 100%);
      bottom: -132px;
      width: 258px;
      height: 230px;
      background: url("/src/images/bg_pepper.png") center / contain;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    &_image_12 {
      top: auto;
      left: calc(-33 / 1040 * 100%);
      bottom: -54px;
      width: 182px;
      height: 162px;
      background: url("/src/images/bg_pepper.png") center / contain;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      @media screen and (max-width: 1024px) {
        top: auto;
        left: 27px;
        right: auto;
        bottom: -21px;
        width: 208px;
        height: 186px;
      }
    }

    &_image_13 {
      top: -25px;
      left: auto;
      right: calc(-37 / 1040 * 100%);
      width: 182px;
      height: 162px;
      background: url("/src/images/bg_pepper.png") center / contain;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    &_image_14 {
      top: auto;
      left: calc(83.89 / 1040 * 100%);
      bottom: -93.13px;
      width: 283.44px;
      height: 164.23px;
      background: url("/src/images/bg_garlic.png") center / contain;
      filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
      transform: rotate(19.98deg);

      @media screen and (max-width: 1024px) {
        top: auto;
        left: -17.16px;
        right: auto;
        bottom: -61.88px;
        z-index: 2;
        width: 215.44px;
        height: 124.83px;
        transform: rotate(19.98deg);
      }
    }

    &_image_15 {
      top: -120px;
      left: auto;
      right: calc(123 / 1040 * 100%);
      width: 164px;
      height: 157px;
      background: url("/src/images/bg_onion_1.png") center / contain;
      filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));

      @media screen and (max-width: 1024px) {
        top: -79.5px;
        left: auto;
        right: -18.14px;
        bottom: auto;
        z-index: 2;
        width: 144px;
        height: 138px;
        transform: rotate(-22.79deg);
      }
    }

    &_image_16 {
      top: -61px;
      left: auto;
      right: calc(233 / 1040 * 100%);
      width: 109px;
      height: 115px;
      background: url("/src/images/bg_onion_2.png") center / contain;
      filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));

      @media screen and (max-width: 1024px) {
        top: -1.84px;
        left: auto;
        right: 60.19px;
        bottom: auto;
        z-index: 2;
        width: 96px;
        height: 101px;
        transform: rotate(-22.79deg);
      }
    }

    &_image_17 {
      top: auto;
      left: auto;
      right: calc(246.98 / 1040 * 100%);
      bottom: -89.01px;
      width: 281.87px;
      height: 149.98px;
      background: url("/src/images/bg_berry.png") center / contain;
      filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
      transform: rotate(-169.68deg);

      @media screen and (max-width: 1024px) {
        top: auto;
        left: auto;
        right: -12.71px;
        bottom: -43.12px;
        width: 240.77px;
        height: 128.11px;
        transform: rotate(150.48deg);
      }
    }

    &_image_18 {
      top: -107.02px;
      left: auto;
      right: -129.36px;
      width: 227.45px;
      height: 197.18px;
      background: url("/src/images/bg_kinza.png") center / contain;
      filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
      transform: rotate(-16.13deg);

      @media screen and (max-width: 1024px) {
        top: -82.77px;
        left: -44.72px;
        right: auto;
        bottom: auto;
        z-index: 2;
        width: 223.6px;
        height: 193.84px;
        transform: rotate(96.57deg);
      }
    }

    &_image_19 {
      top: auto;
      left: auto;
      right: -169px;
      bottom: -104.27px;
      width: 307px;
      height: 246px;
      background: url("/src/images/bg_red_pepper.png") center / contain;

      @media screen and (max-width: 1024px) {
        top: -28px;
        left: -36px;
        right: auto;
        bottom: auto;
        z-index: 2;
        width: 255px;
        height: 204px;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    padding: 76px 93px 82px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: white;

    @media screen and (max-width: 1400px) {
      padding: 120px 100px;
    }

    @media screen and (max-width: 1280px) {
      font-size: 20px;
      line-height: 24px;
    }

    @media screen and (max-width: 1024px) {
      padding: 180px 30px;
      font-size: 28px;
      line-height: 34px;
    }

    @media screen and (max-width: 768px) {
      padding: 240px 10px;
      font-size: 20px;
      line-height: 24px;
    }
  }
}
