section.banner-feature
  .banner-feature__background
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_11
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_10
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_9
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_8
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_7
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_6
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_5
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_4
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_3
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_2
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_1
    .banner-feature__background-layer.banner-feature__background-layer_effect_blur
    .banner-feature__background-layer.banner-feature__background-layer_smoke
    .banner-feature__background-layer
    .banner-feature__background-layer
    .banner-feature__background-layer
    .banner-feature__background-layer
    .banner-feature__background-layer
    .banner-feature__background-layer
    .banner-feature__background-layer
    .banner-feature__background-layer
    .banner-feature__background-layer
    .banner-feature__background-layer
    .banner-feature__background-layer
    .banner-feature__background-layer
    .banner-feature__background-layer.banner-feature__background-layer_color_dark-red
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_12
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_13
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_14
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_15
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_16
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_17
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_18
    .banner-feature__background-layer.banner-feature__background-layer_type_image.banner-feature__background-layer_image_19
  p.banner-feature__text Натуральные ингридиенты и особая технология приготовления наших блюд перевернут преставление о здоровом питании!
