@use "normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}

.root {
  min-height: 100vh;
  background: url("./images/pagebg.png") repeat-y center / cover, #171717;
}
